<launch>
  <node pkg="mavros" type="mavros_node" name="mavros" output="screen">
		<param name="fcu_url" value="/dev/ttyTHS1:921600" />
		<!--param name="gcs_url" value="udp://@192.168.31.46" / -->
		<param name="gcs_url" value="udp://@192.168.32.89" />
		<param name="target_system_id" value="1" />
		<param name="target_component_id" value="1" />
		<rosparam command="load" file="$(find prometheus_experiment)/config/px4_pluginlists.yaml" />
		<rosparam command="load" file="$(find prometheus_experiment)/config/px4_config.yaml" />
	</node>

  <!-- run the rosbag.cpp -->
	<node pkg="rosbag" type="record" name="bag_record" output="screen" args = "/prometheus/drone_state -o subset">	
	</node>	

  <!-- Launch bridge -->
  <include file="$(find px4_realsense_bridge)/launch/bridge.launch" >
  </include>
  
</launch>